.courseItem
	z-index: 99
	.header
		position: relative
		line-height: 50px
		font-size: 20px
		color: rgb(105, 105, 105)
		.el-icon-close
			padding: 15px 40px 5px 10px
		.el-icon-share
			position: absolute
			right: 15px
			top: 15px
	.el-tabs
		.el-tab-pane
			.course-infomation
				position: relative
				margin: 10px
				padding: 10px
				border-bottom: 1px solid rgba(205, 205, 201, .9)
				.course-name
					font-size: 24px
					line-height: 40px
					color: #8B8682
					font-weight: 600
				ul li
					display: inline
					font-size: 16px
					padding: 5px 5px
					color: rgba(67, 205, 128, .75)
				span
					display: inline
					font-size: 16px
					padding: 5px 5px
					color: rgba(7, 17, 17, .5)
				.attend-area
					display: inline
					position: absolute
					top: 20px
					right: 10px
					color: rgba(67, 205, 128, .75)
					font-size: 18px
					i
						display: inline-block
						vertical-align: center
					span
						display:inline-block
						vertical-align: center
						font-size: 18px
						color: rgba(67, 205, 128, .75)
			.cost-information
				padding: 15px 15px
				font-size: 30px
				line-height: 40px
				color: rgb(67, 205, 128)
			.course-introduce
				padding: 20px 15px
				h2
					color: rgba(7, 17, 27, .75)
					font-size: 25px
					line-height: 30px
				p
					color: rgba(7, 17, 27, .75)
					font-size: 15px
					line-height: 25px
		.evaluate
			.evaluate-header
				display: block
				padding: 20px 20px
				font-size: 16px
				color: rgb(67, 205, 128)
			.evaluate-item-wrapper
				padding: 30px 20px 30px 20px
				margin: 0 20px 0 20px
				border-bottom: 1px solid rgba(67, 205, 128, .75)
				.avatar-wrapper
					display: inline-block
					vertical-align: top
					img
						border-radius: 50%
				.evaluate-text-wrapper
					display: inline-block
					vertical-align: top
					.evaluate-name
						font-size: 16px
						color: rgba(7, 17, 27, .75)
					.evaluate-text
						font-size: 14px
						color: rgba(7, 17, 27, .5)
						padding-top: 10px