.courses
	.header
		display: flex
		height: 50px
		width: 100%
		background: rgba(67, 205, 128, .75)
		.inputArea
			display: inline-block
			position: relative
			flex: 1
			height: 50px
			font-size: 16px
			line-height: 22px
			.el-input
				background: rgb(67, 205, 128)
				position: absolute
				bottom: 6px
				left: 6px
		.icon-wrapper
			flex: 0 0 50px
			text-align: center
			line-height: 50px
			.el-icon-menu
				color: #fff
				width: 40px
				height: 40px
	.content
		display: flex
		.menu-left
			flex: 0 0 100px
			background: rgba(238, 233, 233, .75)
			height: 100%
			.menu-split
				height: 20px
				width: 100%
			.menu-left-item
				width: 100%
				height: 60px
				line-height: 40px
				font-size: 20px
				text-align: center
				color: rgb(139, 131, 120)
				&.active
					background: #fff
		.menu-right
			flex: 1
			